// Specific CSS for your home-page
.banner {
  background-image: url(sewingmachine.jpeg);
  height: 600px;
}

.banner h1{
  color: white;
  font-family: Times New Roman;
  font-size: 28px;
  line-height: 40px;
  margin: 0 30px 40px;
  position: relative;
  top: 240px;
  left: 170px;
  font-weight: 200;
  opacity: 2;

}

.banner p{
  color: white;
  font-family: Times New Roman;
  font-size: 28px;
  line-height: 40px;
  margin: 0 30px 40px;
  position: relative;
  top: 240px;
  left: 170px;
  opacity: 2;
}

.btn1 {
  position: relative;
  top: 250px;
  left: 200px;
  color: white;
  border-radius: 5px;
  border: none;
}

.btn2 {
  border-radius: 5px;
  position: relative;
  top: 250px;
  left: 300px;
}

button a {
  color: #decdc3;
  font-size: 20px;


}
button a:hover {
  color:white;

}

// .card img{
// height:400px;
// }


li
{
  list-style-type: none;
  margin-left: 1vw;
}

li:first-child
{
  margin:0;
}

footer
{
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.content
{
  height: 50vh;
  background-color: lightgray;
}

.container
{
  background-color: #F4F4F4;
}

.copyright,  .impressum
{
  text-align: right;
}

.logo
{
  height: 25px;
}

@media (max-width: 768px)
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
    padding: none;
  }

  .sozial
  {
    margin-bottom: 1vh;
  }
}


