



<% @designers.each do |designer| %>
  <%= link_to designer_path(designer) do  %>
<!--   <div class="card" style="width: 50rem;">
 --><div class="card-product">
    <div class="card-product-infos">
<!--     <div class="card-body">
 -->    <h2> <%= designer.name %></h2>
    <p class="card-text"> <%= designer.description %> </p>
    </div>
  </div>
  <% end %>
<% end %>
