
<div class="banner">
<h1 class= "pt-5"> We are driven by HUMANITY
 and inspired by CREATIVITY. Many Berlin Talents prove sustainable fashion can be Modern and STYLISH.</h1>
 <br>
 <h1>The brands we selected for you create Bold designs, CONSCIOUSLY.</h1>
 <div class= 'd-flex justify-content-end' >
  <button type="button" class="btn btn-secondary btn-lg"><%= link_to 'SHOW MORE',designers_path %> </button>
</div>
</div>


