
<div class="banner">
<h1 class= "pt-5"> We are driven by HUMANITY
 and inspired by CREATIVITY. Many Berlin Talents prove sustainable fashion can be Modern and STYLISH.</h1>
 <br>
 <h1>The brands we selected for you create Bold designs, CONSCIOUSLY.</h1>
 <div class= 'd-flex justify-content-end' >
  <button type="button" class="btn btn-secondary btn-lg"><%= link_to 'SHOW MORE',products_path %> </button>
</div>
</div>

<h1>
 <button type="button" class="btn btn-warning btn-lg"><%= link_to'SEE OUR DESIGNER',designers_path %> </button>

</h1>

<div class="container mt-5 d-flex justify-content-around">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top card-img-small"  src="https://images.unsplash.com/photo-1546625909-d4b72e7d4fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60 " alt="Card image cap">
    <div class="card-body">
      <h3> Manoukstyle </h3>

    </div>
  </div>

  <div class="card " style="width: 18rem;">
    <img class="card-img-top card-img-small"  src="https://images.unsplash.com/flagged/photo-1557162565-c40449d639cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80 " alt="Card image cap">
    <div class="card-body">
      <h3> Fiona </h3>

    </div>
  </div>

  <div class="card " style="width: 18rem;">
    <img class="card-img-top card-img-small"  src="https://images.unsplash.com/photo-1568306340504-7f25324c0ce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60 " alt="Card image cap">
    <div class="card-body">
      <h3> Leila </h3>

    </div>
  </div>
</div>



