
<div class="banner">
<h1 class= "pt-5">
  Berlin talents prove sustainable fashion can be modern and stylish</h1>
  <p> Discover the latest trends in Vegan Crafted Summer Clothes </p>
 <br>
 <div class="d-flex justify-content-start">
  <button type="button" class="btn btn-secondary btn-lg btn1"><%= link_to 'SHOW MORE',products_path %> </button>
  <button type="button" class="btn btn-secondary btn-lg btn2"><%= link_to'SEE OUR DESIGNER',designers_path %> </button>
</div>
</div>




<div class="container mt-5 d-flex justify-content-around">
  <div class="card">
    <img class="card-img-top card-img-small"  src="https://images.unsplash.com/photo-1546625909-d4b72e7d4fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60 " alt="Card image cap">
    <div class="card-body">
      <h3> Manoukstyle </h3>

    </div>
  </div>

  <div class="card " style="width: 18rem;">
    <img class="card-img-top card-img-small"  src="https://images.unsplash.com/flagged/photo-1557162565-c40449d639cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80 " alt="Card image cap">
    <div class="card-body">
      <h3> Fiona </h3>

    </div>
  </div>

  <div class="card " style="width: 18rem;">
    <img class="card-img-top card-img-small"  src="https://images.unsplash.com/photo-1568306340504-7f25324c0ce8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60 " alt="Card image cap">
    <div class="card-body">
      <h3> Leila </h3>

    </div>
  </div>
</div>
<br>

<div class="container-fluid">
  <footer class="row">
    <div class="sozial col-xs-12 col-sm-6 col-sm-push-6">
      <ul class="row">
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
          </a>
        </li>
        <li class="col-xs-6 col-sm-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
          </a>
        </li>
      </ul>
    </div><!-- Ende Sozial media -->

    <div class="copyright col-xs-12 col-sm-3 col-sm-pull-6">
      <p> &copy; from Berlin with love </p>
    </div><!-- Ende Copyright -->

  </footer>
</div>
