.card {
  h3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
  }
  h2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  img {
    height: 70%;
    width: 80%;
    object-fit: cover;
    align-self: center;
    border-radius: 15px;

  }
  color:  black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #E5E5E5;
  .card-body {
    height: 40px;
  }
  .card-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


