.navbar {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 240px;
}


  .navbar-brand {
  left: calc((100% - 240px) / 2);
   position: absolute;
   top:0
}

.navbar-height{
  height: 240px

}
