.card-product {
  overflow: hidden;
  height: 700px;
  background: #F3F5F7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product a {
  font-size: 10px;
}

.btn-leila {
  max-height: 70px;
  padding-top: 28px;
  background-color: #F3F5F7;
  border: #F3F5F7;
  margin-top: 640px;
  max-height: 80px;
  margin-left: 150px;
  font-family: helvetica;
  border-radius: 5px;
  &:hover {
    background-color: #d8d8d8;
  }
  &:focus {
    background-color: #d8d8d8 !important;
    border-color: #d8d8d8 !important;
  }
  &:active {
    background-color: #d8d8d8 !important;
    border-color: #d8d8d8 !important;
  }
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  color: black;

}

.designer-description {
  overflow: hidden;
    background: #F3F5F7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    padding-left: 2rem;
    img{
    max-width: 250px;
    max-height: 100%;


    }
    .card-product-infos {
      margin-left: 2rem;
    }
}

