<% @products.each do |product| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3> <%= product.name.upcase %> - <%= product.color %> </h3>
    <p class="card-text"> <%= product.description %> </p>
    <p class="card-text"> <%= product.price %> </p>
  </div>
  <img class="card-img-top" src="..." alt="Card image cap">
</div>
<% end %>


