


.card-body-white {
  background-color: #E5E5E5;
  max-height: 600px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    h2, h3 {
  font-family: arial;
  font-size: 15px;


 }
}

.card-other-products {
  .card-text {
    font-family: arial;
    font-size: 15px;
    font-weight: none;
    font: normal;
    padding: 10px;
    padding-left: 20px;
    padding-top: 15px;
  }
    .price {
      text-align: right;
    }
      .name {
        font-style: italic;
      }
}

.container-fluid {
  margin-top: 60px;
  margin-left: 20px;

}

.card-image-size {
  height: 400px;
}


.carousel-item {
  height: 70%;
}

.btn {
  margin-top: 10px;
}

.other-products {
  text-align: center;
  font-family: Times new Roman;
  font-size: 30px;
  padding: 50px;
  padding-top: 70px;
  background-color: #E5E5E5;
  margin: 70px 450px 70px 450px;
  border-radius: 3px;
}

